name: ASF-WebConfigGenerator-release

on:
  push:
    branches:
    - main

env:
  NODE_JS_VERSION: 'lts/*'

permissions:
  contents: write

jobs:
  release:
    environment: release
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        show-progress: false
        token: ${{ secrets.ARCHIBOT_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

    - name: Setup Node.js with npm
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        check-latest: true
        node-version: ${{ env.NODE_JS_VERSION }}

    - name: Verify Node.js
      run: node -v

    - name: Verify npm
      run: npm -v

    - name: Install npm modules for ASF-WebConfigGenerator
      run: npm ci --no-progress

    - name: Build ASF-WebConfigGenerator
      run: npm run-script build --no-progress

    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
      with:
        gpg_private_key: ${{ secrets.ARCHIBOT_GPG_PRIVATE_KEY }}
        git_user_signingkey: true
        git_commit_gpgsign: true

    - name: Deploy ASF-WebConfigGenerator
      shell: sh
      run: |
        set -eu

        git add -A "docs"

        if ! git diff --cached --quiet; then
            git commit -m "Automatic ASF-WebConfigGenerator deployment"

            git push
        fi
